.signup_form {
  max-width: 782px;
  width: 80%;
  margin: 1rem auto;
  background-color: violet;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 28px;
}
.form_input {
  margin: 1rem auto;
}
label,
input {
  display: block;
}

button {
  display: block;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
}
